@{
    ViewBag.Title = "About";
}

<!DOCTYPE html>
<html lang="en">

   <body>
       <content>
           <content>

               <!-- Main Content -->
               <header class="masthead">
                   <div class="container">

                       <div class="intro-text">
                           <div class="intro-heading text-uppercase">About us!</div>
                           <div class="container">
                               <div class="row">
                                   <div class="col-lg-8 col-md-10 mx-auto">
                                       <p>The Marvel Cinematic Universe is an American media franchise and </p>
                                       <p>shared universe centered on a series of superhero films,</p>
                                       <p>independently produced by Marvel Studios and based on characters</p>
                                       <p>that appear in American comic books published by Marvel Comics.</p>

                                   </div>
                               </div>
                           </div>

                       </div>
                   </div>
               </header>
       
           </content>

       </content>

   </body>
</html>


   
